div {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica, arial, sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
}

.h1,
h1 {
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.site-header {
    top: 0;
    border-width: 0 0 1px;
    width: 100%;
    height: 40px;
    right: 0;
    left: 0;
    height: 40px;
    line-height: 1;
    width: 100%;
    padding: 0 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    color: #999;
    background: #343436;
    border-top: 1px solid #3E3E3F;
    z-index: 10;
}

.mini-a {
    /*font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;*/
    font-size: 0.8rem;
    padding: 2px 7px;
    margin: 0 1px 0 0;
    border-width: 1px;
}

.a-dark {
    background: #111;
}

.header-right>a,
.header-left>a {
    /*font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;*/
    -webkit-appearance: none;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    border: 0;
    outline: 0;
    position: relative;
    border-radius: 3px;
    border: 3px solid transparent;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    font-weight: normal !important;
}

.site-header {
    align-content: flex-end;
    justify-content: flex-end;
}

.header-right>a {
    margin-left: 7px;
}


/*.header-left>a {
    margin-right: 7px;
}*/

.middle {
    position: relative;
    display: block;
    margin: 10px;
    height: 100%;
    width: auto;
    padding-top: 25px;
    z-index: 10;
}

.search {
    position: relative;
    width: auto;
    overflow: hidden;
    height: 40px;
    border: 1px solid #cbcbcb;
    border-right: 0 none;
    border-radius: 5px;
}


/*.search-category {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    width: auto;
    height: 40px;
}
.searchbar-operate-box {
    position: relative;
    float: right;
    padding-right: 50px;
}*/

input {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 11px 10px 11px 15px;
    line-height: 18px;
    font-size: 13px;
    border: 0 none;
    font-family: arial;
}

.search-button {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    width: auto;
    height: 40px;
    border-radius: 0 5px 5px 0;
}

.search-cate {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 60px;
    width: auto;
    height: 40px;
    border: 0px solid #cbcbcb !important;
}

body,
div,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

form {
    display: block;
    margin-top: 0em;
}

.list-items {
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 0;
    clear: both;
    font-size: 12px;
}

ol,
ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.list-item {
    position: relative;
    width: 300px;
    -webkit-transition: box-shadow .25s linear;
    transition: box-shadow .25s cubic-bezier(0.4, 0, 1, 1);
    margin: 10px;
    padding: 10px;
    /*border: 1px solid #507299;*/
    list-style-type: none;
    float: left;
}

li {
    margin: 0;
    margin-left: 30px;
    display: list-item;
}

a {
    color: #777;
    text-decoration: none;
}

.cover-img {
    width: 300px;
    height: 300px;
}

.item-details {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /*padding-left: 10px;*/
    width: 135px;
}

.item-details a {
    color: #008cc3;
}

.item-details h3 {
    color: #858585;
}

.details {
    clear: both;
    margin: 30px;
}

.details-cover-img {
    width: 500px;
    height: 500px;
    float: left;
}

.details-info {
    padding: 10px;
    float: left;
}

.details h1 {
    position: relative;
}


/*.name {
    font-size: 16px;
    line-height: 22px;
}*/

.price {
    color: #080808;
    font-weight: 700;
    font-size: 16px;
}

.details h3 {
    color: #858585;
}

.list-items {
    height: 100%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 3em;*/
}

@media (min-width: 320px) {
    .list-items {
        width: 320px;
    }
}

@media (min-width: 768px) {
    .list-items {
        width: 640px;
    }
}

@media (min-width: 992px) {
    .list-items {
        width: 960px;
    }
}

@media (min-width: 1280px) {
    .list-items {
        width: 1280px;
    }
}

@media (min-width: 1600px) {
    .list-items {
        width: 1600px;
    }
}

.head h1 {
    margin-top: 3em;
    text-align: center;
}

.user-type-page {
    margin: 0 10em 10em 10em;
    height: 100%;
    color: #080808;
}

.user-type {
    text-align: center;
    float: left;
    width: 50%;
}

.tabset {
    margin: 0 auto;
    width: 460px;
}

.tabset button[type="submit"] {
    color: #fff;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    padding: 12px 38px;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    margin: 40px 20px 40px 20px;
    background-color: #222;
}


/*.tabset :last-child {
    border-bottom: 1px solid #cbcbcb;
}*/

.tab {
    border: 1px solid #cbcbcb;
    overflow: hidden;
}

.sing-up {
    /*
    border: 1px solid #cbcbcb;
    overflow: hidden;
    */
    text-align: center;
    margin-top: 1em;
    border-radius: 5px;
}